<!-- Metadados da pagina -->
<%- include("./partials/head" )%>

    <body>
        <%- include("./partials/header") %>
        
        <div class="text-center">
            <h1>AlphanetSLM</h1>
            <!-- <blockquote class="blockquote">
                <h3>Atualização de Caixa</h3>
            </blockquote>
        </div>

        <p>Selecione qual campo deseja atualizar</p> -->


        <!-- <form action="/box/:<%= id %>?_method=PUT" method="POST" name="id">

            <div class="input-group mb-3 ">
                <label for="date" class="form-label">Data de Modificação:</label>
                <input type="date" id="data" name="dateModify" class="form-control" required>
            </div>
            <div>
                <label for="name">Nome Descritivo:</label>
                <input id="name" name="nameDescription" required></input>
            </div>
            <div>
                <label for="locale">Localização:</label>
                <input type="text" id="locale" name="locale" required>
            </div>
            <div>
                <label for="descricao">Active CTO:</label>
                <input type="number" id="descricao" name="activeCto" required>
            </div>
            <div>
                <label for="text">Tecnologia de Rede:</label>
                <input type="text" id="quantidade" name="networkTechnology" required>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-dark">atualizar</button>
            </div>
        </form> -->

        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
    </body>
</html>